[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql

server-id = 1

skip-host-cache
skip-name-resolve

symbolic-links=0

general_log = on
general_log_file = /var/log/mysql/query.log
log-error = /var/log/mysql/error.log

binlog_format=ROW
log_bin = /var/lib/mysql/mysql-bin.log

tmp_table_size=1024M
innodb_autoinc_lock_mode=2

innodb_buffer_pool_size=2048M
max_allowed_packet=64M
max_heap_table_size=4096M
